rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Coleção Única de Usuários (Saves, Rankings, Status, PvP e Permissões)
    match /users/{userId} {
      allow read, write: if true;
    }
    
    // Clãs Imperiais e Guerras
    match /clans/{clanId} {
      allow read, write: if true;
    }

    // Mercado Central de Giran — Anúncios Globais em Tempo Real P2P
    match /market_listings/{listingId} {
      allow read, write: if true;
    }

    // Mercado Central de Giran — Registro de Vendas e Coleta de Lucros
    match /market_sales/{sellerKey} {
      allow read, write: if true;
    }
  }
}
